<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--整合mybatis ,配置SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定mybatis核心配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
        <!--指定数据源-->
        <property name="dataSource" ref="dataSource" />

        <!--引入映射文件-->
        <property name="mapperLocations" value="classpath:mybatis/mapper/**.xml" />

        <!--扫描别名-->
        <property name="typeAliasesPackage" value="cn.itcast.ssm.pojo" />
    </bean>

<!--实例化单个接口-->
    <!--<bean id="UserMapper"  class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="sqlSessionFactory"  ref="sqlSessionFactory"/>-->
        <!--<property name="mapperInterface" value="cn.itcast.ssm.mapper.UserMapper" />-->
    <!--</bean>-->

    <!--批量实例化接口-->
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.itcast.ssm.mapper" />
    </bean>


</beans>